<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
      <add name="AutoProcessor" connectionString="server=localhost;integrated security=sspi;database=AutoProcessor" />
    </connectionStrings>
    <appSettings>
      <add key="MaxRetryTimes" value="3"/>
      <add key="ExecutionName" value="Close_Reopen_Workspaces"/>
      <add key="EventLogName" value="CloseReopenWorkspaces"/>
      <add key="UserName" value="ctsadiag"/>
      <add key="DomainName" value="Northamerica"/>
    </appSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IUdeBaseService">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Ntlm" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://hw-yaqli-vm03.fareast.corp.microsoft.com/UdeBaseService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUdeBaseService"
                contract="UDEBaseService.IUdeBaseService" name="BasicHttpBinding_IUdeBaseService" />
        </client>
    </system.serviceModel>
</configuration>